
/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
	padding:10px;
	border-left:green;
	border-left-style:solid;
	border-left-width:5px;
}
#heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}